@mixin highlighted($font-size) {
  display: inline-block;
  color: $highlight-text-color;
  padding: 0 1.25rem;
  border-radius: calc(#{$font-size} * #{$landing-title-line-height} / 2);
  border: 1px solid $highlight-text-color;
  font-weight: $landing-title-font-weight;
}

@mixin section-title {
  margin-bottom: 3.125rem;
  opacity: 0.3;
  font-weight: $main-font-weight;
  font-size: 1.75rem;
  line-height: 1.14286;
}

@mixin link-with-arrow {
  font-size: 1.5rem;
  line-height: 1.16;
  display: inline-flex;
  align-items: center;
  > .icon {
    height: 1.74rem;
    width: 1.25rem;
    margin-left: 0.625rem;
    //fill: currentColor;
  }
}
